body{
    /* height: 100%; */
    background-color:rgb(27 150 131);
    font-family: 'Courgette', cursive;
}
h1{
   text-align: center;
   margin: 100px 0 80px 0;
   font-size: 50px;
   color: rgb(205 239 205);
   
}
form{
    display:inline-flex;
    margin-left: 29%;
}
.todo-input{
    width: 370px;  
    height: 30px; 
    outline: none;
    border: none;
    font-family: 'Courgette', cursive;
    
    font-size: larger;
}
.todo-button{
    background-color:rgb(83 121 36);
    margin:0 10px 0 2px;
    width: 32px; 
    border:none;
    height: 32px;
}
.filter-todo{
    height: 32px;
    width: 150px;
    font-family: 'Courgette', cursive;
    font-weight: bold;
    font-size: larger;
}
.todo-list {
    width: 42%;
    list-style: none;
    margin-left: 26%;
}
.fa-plus-square{
    cursor: pointer;
    color: white;
}
.complete-btn{
    background-color:rgb(83 121 36);
    border:none;
    height: 30px;
    width: 35px;
    cursor: pointer;
}
.fa-check:before, .fa-trash:before{
    color: white;
}
.completed{
    text-decoration: line-through;
    opacity:0.5;
    padding-left: 5px;
}
.trash-btn{
    background-color: red;
    border:none;
    height: 30px;
    width: 35px;
    cursor: pointer;
}
.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
    padding-left: 5px;
}